* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

;

body {
    background-color: #ffffff;
}

.main {
    margin-top: 300px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1 {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, red, orange, yellow, green, purple, pink);
    border: 100rem;
    display: block;
    font-size: 100%;
    text-align: center;

}